.tile-directions {
  margin: 12vh auto 0;
  max-width: 232px;

  font-size: 1.25em;
  text-align: center;
}

.tile-button {
  margin: 8px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: contain;
  border-radius: 4px;

  /* Reset default button styles */
  border: 0;
}

.tile-row {
  display: flex;
  justify-content: center;
}

.tile-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.tile-container--init-transition,
.tile-container--turn-transition,
.tile-container--win-transition {
  /* https://easings.net/en#easeInOutSine */
  animation: container .8s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.tile-container--init-transition .tile-button,
.tile-container--turn-transition .tile-button {
  animation: tile .8s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.tile-container--init > div:last-child > .tile-button {
  opacity: 0;
}

.tile-container--init-transition > div:first-child > .tile-button {
  animation: init-visible-row-tile .8s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.tile-container--init-transition > div:last-child > .tile-button {
  animation: init-hidden-row-tile .8s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.tile-container--fade-out-transition {
  animation: fade-out .8s ease-in forwards;
}

.tile-container--win-transition .tile-button {
  animation: tile-win .8s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.tile-container--hidden {
  display: none;
}

.tile-container--retry-init-transition {
  animation: fade-in .4s ease-in forwards;
  animation-delay: .4s;
  display: none;
}

.message-fade-in {
  animation: fade-in .2s ease-in forwards;
}

.message-fade-out {
  animation: fade-out .4s ease-in forwards;
}

@keyframes container {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes tile {
  0% { transform: scale(1); border-radius: 0; }
  50% { transform: scale(0.6); border-radius: 50%; }
  100% { transform: scale(1); border-radius: 0; }
}

@keyframes tile-win {
  0% { transform: scale(1); border-radius: 0; }
  50% { transform: scale(0); border-radius: 50%; }
  100% { transform: scale(0); }
}

@keyframes init-visible-row-tile {
  0% { transform: scale(1); border-radius: 0; }
  50% { transform: scale(0); border-radius: 50%; }
  100% { transform: scale(1); border-radius: 0; }
}

@keyframes init-hidden-row-tile {
  0% { transform: scale(0); }
  50% { transform: scale(0); border-radius: 50%; opacity: 1; }
  100% { transform: scale(1); border-radius: 0; opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; display: block; }
  100% { opacity: 0; display: none; }
}

@keyframes fade-in {
  0% { opacity: 0; display: block; }
  100% { opacity: 1; display: block; }
}
