.tile-directions, .tile-help {
  text-align: center;
  padding: 16px;
}

.tile-directions {
  font-size: 1.25em;
}

.tile-help {
  color: var(--text_secondary);
}

.tile-button {
  margin: 8px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: contain;
  border-radius: 4px;

  /* Reset default button styles */
  border: none;
  outline: inherit;
}

.tile-row {
  display: flex;
  justify-content: center;
}
