.ColorTiles__button {
  margin: 8px;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: contain;
  border-radius: 4px;

  /* Reset default button styles */
  border: 0;
}

.ColorTiles__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.ColorTiles__wrapper--inline {
  padding: 16px 8px;
}

.ColorTiles__button--inline {
  width: 18vw;
  height: 18vw;
  max-width: 128px;
  max-height: 128px;
}

.ColorTiles__container--inline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ColorTiles__container--inline > div {
  flex-shrink: 0;
}
