.completed-quest {
  flex: 1;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;

  background-color: #000;
  background-image: url('../img/completed-quest.jpg');
  background-size: cover;
  background-position-y: 100%;
  color: #fff;
}

.completed-quest__p {
  font-size: 22px;
}

.completed-quest__large {
  font-size: 26px;
  font-weight: bold;
}
