.completed-quest {
  flex: 1;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  text-align: center;

  background: #fff;
  /* Source: https://www.heropatterns.com/ */
  background-image: url('../img/hero-patterns-topography.svg');
}
