.forest-button {
  color: #fff;
  font-size: calc(24px + 2vw);
  text-shadow: 0px 0px 8px #00000085;
}

.forest-popout-wrapper .ActionSheet {
  align-items: center;
  min-width: auto; /* Android-specific */
}

.forest-popout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px;
  width: 228px;
  box-sizing: border-box;

  background-color: #fff;
  border-radius: 12px;
}

.forest-popout__letter {
  width: 80px;
  line-height: 80px;
  margin: 8px;
  z-index: 1; /* a hack for ActionSheet--android (not required for --ios) */

  font-size: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #9a9a9a;
  border-radius: 12px;
}

.forest-popout__letter:hover, .forest-popout__letter:focus {
  background: #eceaea;
}

.forest-letter-transition {
  animation: letter-transition .3s ease-in-out forwards;
}

@keyframes letter-transition {
  from { opacity: 0; }
  to { opacity: 1; }
}
