.map-node--available {
  fill: white;
  stroke: #6991bd;
}

.map-node--available:hover,
.map-node--available:focus {
  fill: #dbe3eb;
}

.map-node--completed {
  fill: #9eb7d1;
  stroke: #587fa6;
}

.map-node--locked {
  stroke: #aeb8c2;
  fill: #ecf0f3;
}

.map-path {
  stroke-width: 1.2;
  stroke: #9eb7d1;
  fill: none;
}
