.map {
  max-width: 260px;
  stroke-width: 0.8;
}

.map-node--available {
  fill: white;
  stroke: #6991bd;
}

.map-node--available:hover,
.map-node--available:focus {
  fill: #dbe3eb;
}

.map-node--completed {
  fill: #9eb7d1;
  stroke: #587fa6;
}

.map-node--locked {
  stroke: #aeb8c2;
  fill: #ecf0f3;
}

.map-path--locked {
  stroke: #aeb8c2;
}

.map-path--completed,
.map-path--available {
  stroke: #9eb7d1;
}

.map-path {
  stroke-width: 1;
  fill: none;
}

.map-container, .map-help-container {
  padding: 16px;
  text-align: center;
  background: #fff;
  /* Source: https://www.heropatterns.com/ */
  background-image: url('/img/hero-patterns-topography.svg');
}

.map-help-container {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.map-help-toggle {
  position: fixed;
  margin: 16px;
  right: 0;

  display: flex;
  justify-content: center;

  width: 48px;
  height: 48px;

  color: #fff;
  background: #587fa6;
  opacity: 0.5;
  border: 0;
  border-radius: 10px;
  outline: none;

  transition: opacity .3s;
}

.map-help-toggle:active {
  opacity: 1;
}
